@{
    Layout = null;
}

<!doctype html>
<html lang="es-CO">
<head>
    <title>T&T</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon icon -->
    @*<link rel="shortcut icon" type="image/png" href="images/favicon.png" />*@
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,400,400i,500,500i,700" rel="stylesheet">


    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Fontawsome -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- Animate CSS-->
    <link href="css/animate.css" rel="stylesheet">
    <!-- menu CSS-->
    <link href="css/bootstrap-4-navbar.css" rel="stylesheet">
    <!-- Portfolio Gallery -->
    <link href="css/filterizer.css" rel="stylesheet">
    <!-- Lightbox Gallery -->
    <link href="inc/lightbox/css/jquery.fancybox.css" rel="stylesheet">

    <!-- OWL Carousel -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <!-- Preloader CSS-->
    <link href="css/fakeLoader.css" rel="stylesheet">
    <!-- Main CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- Default CSS Color -->
    <link href="color/default.css" rel="stylesheet">
    <!-- Color CSS -->
    <link rel="stylesheet" href="color/color-switcher.css">
    <!-- Default CSS Color -->
    <link href="color/default.css" rel="stylesheet">
    <!-- Color CSS -->
    <link rel="stylesheet" href="color/color-switcher.css">
    <!-- Responsive CSS -->
    <link href="css/responsive.css" rel="stylesheet">


    <meta name="title" content="T&T" />
    <meta name="description" content="tytasesoriasdecalidad.com" />
    <meta name="keyword" content="tyt, t&t, cobranzas, cobranza, recuperacion, cartera, castigada, visitas, call, center, negociacion, asesorias, consultoria, juridico, juridica, administrativo">
    <meta name="author" content="t&t asesorias de calidad">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.tytasesoriasdecalidad.com" />
    <meta property="og:title" content="asesorias de calidad" />
    <meta property="og:description" content="tytasesoriasdecalidad.com, Administración y Recuperación de cartera" />
    <meta property="og:site_name" content="tytasesoriasdecalidad.com" />


</head>
<body>

    <!-- Preloader -->
    <div id="fakeloader"></div>

    <div class="top-menu-1x">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="top-menu-left">
                        <p>Nos Necesitas?</p>
                        @*<b> <i class="fa fa-phone"></i>PBX: (571) 7444069 - (57)+ 3105801368</b>*@
                        <b> <i class="fa fa-phone"></i>(57) 3502087920 - (57)+ 3105801368</b>
                        <b> <i class="fa fa-address-card"></i>Diagonal 61b #22a-04</b><br />
                        <b> <i class="fa fa-envelope"></i> contactenos@tytasesoriasdecalidad.com</b>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="top-menu-right">
                        <div class="footer-info-right">
                            @*<ul>
                                    <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-google"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>
                                </ul>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bussiness-main-menu-1x" style="height: 105px;">
        <div class=" container">
            <div class="row">
                <div class="col-md-12">
                    <div class="business-main-menu">
                        <nav class="navbar navbar-expand-lg navbar-light bg-light btco-hover-menu">
                            <a class="navbar-brand" href="#">
                                <img src="images/Logo.jpg" class="d-inline-block align-top" alt="">
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                                <ul class="navbar-nav ml-auto business-nav">

                                    @*<li class="nav-item dropdown active">
                                            <a class="nav-link" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Inicio <span class="sr-only">(actual)</span> <i class="fa fa-angle-down"></i>
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                                                <li><a class="dropdown-item" href="home-one.html" target="_blank">Inicio Uno</a></li>
                                                <li><a class="dropdown-item" href="home-two.html" target="_blank">Inicio Dos</a></li>
                                                <li><a class="dropdown-item" href="home-three.html" target="_blank">Inicio Tres</a></li>
                                                <li><a class="dropdown-item" href="home-four.html" target="_blank">Inicio Cuatro</a></li>
                                                <li><a class="dropdown-item" href="home-five.html" target="_blank">Inicio Cinco</a></li>
                                                <li><a class="dropdown-item" href="home-six.html" target="_blank">Inicio Seis</a></li>
                                                <li><a class="dropdown-item" href="home-seven.html" target="_blank">Inicio Siete</a></li>

                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Características <i class="fa fa-angle-down"></i>
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">

                                                <li><a class="dropdown-item" href="about-us.html">Acerca De Nosotros</a></li>
                                                <li><a class="dropdown-item" href="our-approach.html">Nuestro Enfoque</a></li>
                                                <li><a class="dropdown-item" href="our-history.html">Nuestro Historial</a></li>
                                                <li><a class="dropdown-item" href="service.html">Servicio</a></li>
                                                <li>
                                                    <a class="dropdown-item dropdown-toggle" href="career.html">Carrera</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="career.html">Carrera</a></li>
                                                        <li><a class="dropdown-item" href="career-single.html">Detalle de Carrera</a></li>
                                                    </ul>
                                                </li>
                                                <li><a class="dropdown-item" href="partner.html">Nuestro Socio</a></li>

                                                <li>
                                                    <a class="dropdown-item dropdown-toggle" href="our-team.html">Nuestro Equipo </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="our-team.html"> Miembro del Equipo</a></li>
                                                        <li><a class="dropdown-item" href="member-profile.html">Perfil de Miembro </a></li>
                                                    </ul>
                                                </li>

                                                <li><a class="dropdown-item" href="testimonial.html">Testimonios</a></li>
                                                <li><a class="dropdown-item" href="pricing-plan.html">Precios</a></li>
                                                <li><a class="dropdown-item" href="faq.html">Preguntas Frecuentes</a></li>
                                                <li><a class="dropdown-item" href="404.html">Página 404</a></li>
                                                <li><a class="dropdown-item" href="comming-soon.html">Próximamente</a></li>
                                                <li><a class="dropdown-item" href="components.html">Componentes</a></li>
                                            </ul>
                                        </li>

                                        <li class="nav-item dropdown">
                                            <a class="nav-link" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Proyectos <i class="fa fa-angle-down"></i>
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                                                <li><a class="dropdown-item" href="portfolio-one.html">Proyectos Uno</a></li>
                                                <li><a class="dropdown-item" href="portfolio-two.html">Proyectos Dos</a></li>
                                                <li><a class="dropdown-item" href="project-details.html">Detalles de Proyectos</a></li>
                                            </ul>
                                        </li>

                                        <li class="nav-item dropdown">
                                            <a class="nav-link" href="#" id="navbarDropdownMenuLink4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Blog <i class="fa fa-angle-down"></i>
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink4">
                                                <li><a class="dropdown-item" href="blog-list.html">Vista de Lista</a></li>
                                                <li><a class="dropdown-item" href="blog-grid.html">Vista de Cuadr\u00edcula</a></li>
                                                <li><a class="dropdown-item" href="single.html">Artículo del Blog</a></li>
                                            </ul>
                                        </li>

                                        <li class="nav-item dropdown">
                                            <a class="nav-link" href="shop.html" id="navbarDropdownMenuLink5" data-toggle="" aria-haspopup="true" aria-expanded="false">
                                                Tienda <i class="fa fa-angle-down"></i>
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink5">
                                                <li><a class="dropdown-item" href="my-account.html">Mi Cuenta</a></li>
                                            </ul>
                                        </li>*@

                                    <li class="nav-item">
                                        <a class="nav-link" href="#bajar">Contáctanos</a>
                                    </li>
                                </ul>

                                @*<div class="business-cart">
                                        <div class="box">
                                            <div class="container-2">
                                                <span class="icon"><i class="fa fa-search"></i></span>
                                                <input type="search" id="search" placeholder="Buscar..." />
                                            </div>
                                        </div>
                                        <a href="#"><i class="fa fa-shopping-cart"></i><span class="cart-no">0</span></a>
                                    </div>*@

                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="business-main-slider">
        <div class="owl-carousel main-slider">
            <div class="item">
                <div class="hvrbox">
                    <img src="images/slider-18.jpg" alt="Montañas" class="hvrbox-layer_bottom">
                    <div class="hvrbox-layer_top">
                        <div class="container">
                            <div class="overlay-text text-left">
                                <h3 data-animation-in="slideInDown" data-animation-out="animate-out slideOutUp">Asesoría de Calidad</h3>
                                <h2 data-animation-in="slideInDown" data-animation-out="animate-out slideOutUp">pensamos en ti!</h2>
                                <p data-animation-in="slideInLeft" data-animation-out="animate-out fadeOut" class="col-md-5">Generamos valor  agregado para su organización, serie de servicios que buscan apoyar su operación y convertirse en un aliado estratégico para su compañía</p>
                                @*<a href="#" class="bussiness-btn-larg" data-animation-in="slideInUp" data-animation-out="animate-out slideOutDown">Comenzar</a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="hvrbox">
                    <img src="images/slider-7.jpg" alt="Montañas" class="hvrbox-layer_bottom">
                    <div class="hvrbox-layer_top">
                        <div class="container">
                            <div class="overlay-text text-left">
                                <h3 data-animation-in="slideInDown" data-animation-out="animate-out slideOutUp">Asesoría de Calidad</h3>
                                <h2 data-animation-in="slideInDown" data-animation-out="animate-out slideOutUp">pensamos en ti!</h2>
                                <p data-animation-in="slideInLeft" data-animation-out="animate-out fadeOut" class="col-md-5">Generamos valor  agregado para su organización, serie de servicios que buscan apoyar su operación y convertirse en un aliado estratégico para su compañía</p>
                                @*<a href="#" class="bussiness-btn-larg" data-animation-in="slideInUp" data-animation-out="animate-out slideOutDown">Comenzar</a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>


    <div class="business-feature-1x business-feature-onslider">
        <div class="container">
            <div class="business-features">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4 no-padding">
                            <div class="single-features single-features-overlay">
                                <div class="media">
                                    <img class="mr-3" src="images/Iconos/leader.png" alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="mt-0">Administración y Recuperación de cartera</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 no-padding">
                            <div class="single-features single-features-overlay">
                                <div class="media">
                                    <img class="mr-3" src="images/Iconos/world-map.png" alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="mt-0" style="width: 260px;height: 63px;">
                                            Gestión de campo
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 no-padding">
                            <div class="single-features single-features-overlay">
                                <div class="media">
                                    <img class="mr-3" src="images/Iconos/money.png" alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="mt-0" style="height: 63px;">
                                            Seguridad de la Información
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="padding-top-large"></div>

    <div class="business-services-1x">
        <div class="container">
            <div class="business-services">
                <div class="row">
                    <div class="col-md-12">
                        <div class="business-title-middle">
                            <h2>Nuestros Servicios</h2>
                            <span class="title-border-middle"></span>
                        </div>
                    </div>

                    <div class="col-md-12 service-content">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="single-services">
                                    <div class="media">
                                        <img class="mr-3" src="images/Iconos/icon-1.png" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <a href="#">Gestión de cartera administrativa</a>
                                            <p>Realizamos seguimiento y control de las obligaciones financieras.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="single-services">
                                    <div class="media">
                                        <img class="mr-3" src="images/Iconos/icon-2.png" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <a href="#">Recuperación de cartera Castigada</a>
                                            <p>Encaminamos los esfuerzos necesarios para la lograr la recuperación de la cartera.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="single-services">
                                    <div class="media">
                                        <img class="mr-3" src="images/Iconos/icon-3.png" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <a href="#">Negociación face to face</a>
                                            <p>Negociación directa con los clientes.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="single-services">
                                    <div class="media">
                                        <img class="mr-3" src="images/Iconos/icon-4.png" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <a href="#">Telemarketing</a>
                                            <p>Contacto con clientes potenciales comercializando productos y servicios.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="single-services">
                                    <div class="media">
                                        <img class="mr-3" src="images/Iconos/icon-5.png" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <a href="#">Visitas de Localización</a>
                                            <p>Verificación de que en el inmueble conozcan o no a titular y de aplicar realizar actualización de datos.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="single-services">
                                    <div class="media">
                                        <img class="mr-3" src="images/Iconos/icon-6.png" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <a href="#">Negociación personalizada </a>
                                            <p>Perfilación del cliente y entrega de alternativas  de cancelación y /o negociación.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="padding-top-large"></div>

    @*<div class="business-features-3x">
            <div class="colourful-features-content">
                <div class="row">
                    <div class="col-md-3 no-padding">
                        <div class="single-colorful-feature feature-color-1">
                            <h3>01.</h3>
                            <h2>Planning</h2>
                            <p>At vero eos et accusamus ehdf iusto dignissimos ducimused qughi blakrn ditiis praesentium voluptatum .</p>
                        </div>
                    </div>
                    <div class="col-md-3 no-padding">
                        <div class="single-colorful-feature feature-color-2">
                            <h3>02.</h3>
                            <h2>Creative Design</h2>
                            <p>At vero eos et accusamus ehdf iusto dignissimos ducimused qughi blakrn ditiis praesentium voluptatum .</p>
                        </div>
                    </div>
                    <div class="col-md-3 no-padding">
                        <div class="single-colorful-feature feature-color-3">
                            <h3>03.</h3>
                            <h2>Development</h2>
                            <p>At vero eos et accusamus ehdf iusto dignissimos ducimused qughi blakrn ditiis praesentium voluptatum .</p>
                        </div>
                    </div>
                    <div class="col-md-3 no-padding">
                        <div class="single-colorful-feature feature-color-4">
                            <h3>04.</h3>
                            <h2>Promotion</h2>
                            <p>At vero eos et accusamus ehdf iusto dignissimos ducimused qughi blakrn ditiis praesentium voluptatum .</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>*@

    @*<div class="padding-top-large"></div>*@

    @*<div class="business-app-present-2x">
            <div class="app-present-content-2">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="business-title-middle">
                                <h2>Core Features</h2>
                                <span class="title-border-middle"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="margin-top-middle"></div>
                        </div>

                        <div class="col-md-7">
                            <div class="app-present-left-2">
                                <img src="images/ipad.png" alt="Montañas" class="">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="app-present-right-2">
                                <div class="single-app-present">
                                    <div class="media">
                                        <span class="animatedhover pulse"><i class="fa fa-phone"></i></span>
                                        <div class="media-body">
                                            <h2>Business Services Consulting</h2>
                                            <p>At vero eos et accusamus ehdf iusto dignissimos ducimused qughi blakrn ditiis praesentium.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-app-present">
                                    <div class="media">
                                        <span class="animatedhover pulse"><i class="fa fa-podcast"></i></span>
                                        <div class="media-body">
                                            <h2>Energy Environment Consulting</h2>
                                            <p>At vero eos et accusamus ehdf iusto dignissimos ducimused qughi blakrn ditiis praesentium.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-app-present">
                                    <div class="media">
                                        <span class="animatedhover pulse"><i class="fa fa-user"></i></span>
                                        <div class="media-body">
                                            <h2>Consumer Products Consulting</h2>
                                            <p>At vero eos et accusamus ehdf iusto dignissimos ducimused qughi blakrn ditiis praesentium.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-app-present">
                                    <div class="media">
                                        <span class="animatedhover pulse"><i class="fa fa-bus"></i></span>
                                        <div class="media-body">
                                            <h2>Surface Transport Consulting</h2>
                                            <p>At vero eos et accusamus ehdf iusto dignissimos ducimused qughi blakrn ditiis praesentium.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>*@

    @*<div class="padding-top-large"></div>*@

    <!-- Start Portfolio Section -->
    <div class="business-portfolio-1x" id="portfolio">
        <div class="row">
            <div class="col-md-12">
                <div class="bussiness-portfolio-light">

                    @*<div class="col-md-12">
                            <div class="business-title-middle">
                                <h2>Amazing Projects</h2>
                                <span class="title-border-middle"></span>
                            </div>
                        </div>*@

                    <div class="row">
                        <div class="col-md-12">
                            @*<div class="padding-top-small"></div>*@

                            <div class="portfolio-body">
                                @*<ul class="simplefilter text-center">
                                        <li class="active" data-filter="all">All</li>
                                        <li data-filter="1">Cityscape</li>
                                        <li data-filter="2">Landscape</li>
                                        <li data-filter="3">Industrial</li>
                                        <li data-filter="4">Daylight</li>
                                        <li data-filter="5">Nightscape</li>
                                    </ul>
                                    <div class="padding-top-middle"></div>*@

                                <div class="filtr-container">
                                    <div class="col-md-3 no-padding filtr-item hover01" data-category="2, 5" data-sort="Luminous night">
                                        <figure><img class="img-responsive" src="images/bg-2.jpg" alt="sample image"></figure>
                                        <span class="item-desc"><a href="project-details.html">Experiencia 12 años</a></span>
                                    </div>
                                    <div class="col-md-3 no-padding filtr-item hover01" data-category="1, 4" data-sort="City wonders">
                                        <figure><img class="img-responsive" src="images/bg-3.jpg" alt="sample image"></figure>
                                        <span class="item-desc"><a href="project-details.html">Trabajo en equipo</a></span>
                                    </div>
                                    <div class="col-md-3 no-padding filtr-item hover01" data-category="3" data-sort="In production">
                                        <figure><img class="img-responsive" src="images/bg-4.jpg" alt="sample image"></figure>
                                        <span class="item-desc"><a href="project-details.html">Telemarketing</a></span>
                                    </div>
                                    <div class="col-md-3 no-padding filtr-item hover01" data-category="3, 4" data-sort="Industrial site">
                                        <figure><img class="img-responsive" src="images/bg-5.jpg" alt="sample image"></figure>
                                        <span class="item-desc"><a href="project-details.html">Formación continua</a></span>
                                    </div>
                                    <div class="col-md-3 no-padding filtr-item hover01" data-category="2, 4" data-sort="Peaceful lake">
                                        <figure><img class="img-responsive" src="images/bg-6.jpg" alt="sample image"></figure>
                                        <span class="item-desc"><a href="project-details.html">Acompañamiento continuo</a></span>
                                    </div>
                                    <div class="col-md-3 no-padding filtr-item hover01" data-category="1, 5" data-sort="City lights">
                                        <figure><img class="img-responsive" src="images/blog-1.jpg" alt="sample image"></figure>
                                        <span class="item-desc"><a href="project-details.html">Alianzas estrategicas</a></span>
                                    </div>
                                    <div class="col-md-3 no-padding filtr-item hover01" data-category="1, 5" data-sort="City lights">
                                        <figure><img class="img-responsive" src="images/blog-2.jpg" alt="sample image"></figure>
                                        <span class="item-desc"><a href="project-details.html">Confianza</a></span>
                                    </div>
                                    <div class="col-md-3 no-padding filtr-item hover01" data-category="1, 5" data-sort="City lights">
                                        <figure><img class="img-responsive" src="images/blog-3.jpg" alt="sample image"></figure>
                                        <span class="item-desc"><a href="project-details.html">Seguridad</a></span>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Portfolio Section -->
    @*<div class="padding-top-large"></div>*@

    @*<div class="team-members-1x">
            <div class="container">
                <div class="team-members-content">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="business-title-left">
                                <h2>Team Members</h2>
                                <span class="title-border-left"></span>
                            </div>
                            <div class="team-members-left">
                                <p>At vero eos et accusamus et iusto odioarweres dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecatisdgh cupiditate nonprovident dfgdftr.</p>
                                <a href="#" class="bussiness-btn-larg">See Our Team</a>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="team-members-right">
                                        <div class="owl-carousel team-members">
                                            <div class="item hover01">
                                                <figure><img src="images/member/team1.jpg" alt="slide 1" class=""></figure>
                                                <a href="member-profile.html">Jhon Smith</a>
                                                <h3>Director</h3>
                                            </div>
                                            <div class="item hover01">
                                                <figure><img src="images/member/team2.jpg" alt="slide 1" class=""></figure>
                                                <a href="member-profile.html">Danial Augustin</a>
                                                <h3>Director</h3>
                                            </div>
                                            <div class="item hover01">
                                                <figure><img src="images/member/team3.jpg" alt="slide 1" class=""></figure>
                                                <a href="member-profile.html">Adam Smith</a>
                                                <h3>Director</h3>
                                            </div>
                                            <div class="item hover01">
                                                <figure><img src="images/member/team1.jpg" alt="slide 1" class=""></figure>
                                                <a href="">Evana Chy</a>
                                                <h3>Director</h3>
                                            </div>
                                            <div class="item hover01">
                                                <figure><img src="images/member/team4.jpg" alt="slide 1" class=""></figure>
                                                <a href="member-profile.html">Kristiano Doe</a>
                                                <h3>Director</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>*@

    @*<div class="padding-top-large"></div>

        <div class="business-cta-1x">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="cta-content">
                            <h3>We have invested $50B in 400 traansaction across 24 countries</h3>
                            <h2>Download our past year highlight review</h2>
                            <a href="#" class="bussiness-btn-larg">Download Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="padding-top-large"></div>*@

    @*<div class="business-testimonial-slider-1x">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="testimonial-slider-content">
                            <div class="owl-carousel testimonial-slider">
                                <div class="item">
                                    <blockquote>
                                        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod<br>
                                        maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.<br>
                                        Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus.
                                    </blockquote>
                                    <img src="images/member/team5.jpg" alt="slide 1">
                                    <h2>Jhone Doe</h2>
                                    <h3>Chairman</h3>
                                </div>
                                <div class="item">
                                    <blockquote>
                                        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod<br>
                                        maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.<br>
                                        Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus.
                                    </blockquote>
                                    <img src="images/member/team6.jpg" alt="slide 1">
                                    <h2>Devid Augustin </h2>
                                    <h3>Founder</h3>
                                </div>
                                <div class="item">
                                    <blockquote>
                                        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod<br>
                                        maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.<br>
                                        Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus.
                                    </blockquote>
                                    <img src="images/member/team9.jpg" alt="slide 1">
                                    <h2>Evana Chy</h2>
                                    <h3>Founder</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <div id="bajar"></div>
    <div class="padding-top-large"></div>


    <div class="business-call-back-1x">
        <div class="business-call-back-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="call-back-left">
                            <div class="business-title-left">
                                <h2>Deseas que te llamemos!!</h2>
                                <span class="title-border-left"></span>
                            </div>
                            <p>Deseas conocer más a fondo nuestros productos y como podemos ayudarte.</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="call-back-right">
                            <h2>Dejanos tus datos </h2>
                            <form>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="NombreContacto" placeholder="Nombre">
                                        </div>
                                    </div>


                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="number" class="form-control" id="NumeroContacto" placeholder="Número de teléfono">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="Email" placeholder="Ingresa tu E-mail">
                                    </div>
                                    <div class="col-md-6">
                                        <input id="EnvioMsj" name="submit" type="button" value="Enviar" class="bussiness-btn-larg Envio">
                                        @*<a href="#" class="bussiness-btn-larg">Enviar</a>*@
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    @*<div class="padding-top-large"></div>

        <div class="business-blog-1x">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="business-title-middle">
                            <h2>Latest News</h2>
                            <span class="title-border-middle"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="margin-top-middle"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="single-bolg hover01">
                            <figure><img src="images/blog-1.jpg" alt="slide 1" class=""></figure>
                            <div class="blog-content">
                                <a href="single.html">Successfull business tips way to grow</a>
                                <span><i class="fa fa-clock-o"></i>14 Dec, 2017</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="single-bolg hover01">
                            <figure><img src="images/blog-2.jpg" alt="slide 1" class=""></figure>
                            <div class="blog-content">
                                <a href="single.html">The most successful ones go over the top</a>
                                <span><i class="fa fa-clock-o"></i>14 Dec, 2017</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="single-bolg hover01">
                            <figure><img src="images/blog-3.jpg" alt="slide 1" class=""></figure>
                            <div class="blog-content">
                                <a href="single.html">Why buying a big house is a bad investment</a>
                                <span><i class="fa fa-clock-o"></i>14 Dec, 2017</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="single-bolg hover01">
                            <figure><img src="images/blog-4.jpg" alt="slide 1" class=""></figure>
                            <div class="blog-content">
                                <a href="single.html">Strategic and commercial approach with issues</a>
                                <span><i class="fa fa-clock-o"></i>14 Dec, 2017</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@


    <div class="padding-top-large"></div>

    <div class="clients-slider-1x">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="clients-logo-slider">
                        <div>
                            <a class="nav-link" href="#">Nuestros Clientes</a>
                        </div>
                        <div class="owl-carousel clients-slider">
                            <div class="item">
                                <a href="#"><img src="images/1.png" alt="slide 1" class=""></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="images/2.png" alt="slide 1" class=""></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="images/3.png" alt="slide 1" class=""></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="images/4.png" alt="slide 1" class=""></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="images/7.png" alt="slide 1" class=""></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="padding-top-large"></div>


    <!-- Start Client Map -->
    @*<div class="client_map">
            <div class="row">
                <div id="map"></div>
            </div>
        </div>*@
    <!-- End Client Map -->
    <!-- Start Footer -->
    <footer class="bussiness-footer-1x">

        <div class="bussiness-footer-content ">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="bussiness-footer-address">
                            @*<a href="#"><img src="images/logo-white.svg" alt="Logo"></a><br>*@
                            @*<p> <i class="fa fa-phone"></i>PBX: (571) 7444069</p>*@
                            <p> <i class="fa fa-phone"></i>(57) 3502087920 - (57) 3105801368</p>
                            <p> <i class="fa fa-address-card"></i>Diagonal 61b #22a-04</p>
                            <p> <i class="fa fa-envelope"></i>contactenos@tytasesoriasdecalidad.com </p>
                            @*<p> <i class="fa fa-map-marker"></i> 123 walton gorgia street,<br> west town hall, London, UK. </p>*@
                        </div>
                    </div>
                    <div class="col-md-3">
                        @*<h5> Company </h5>
                            <ul>
                                <li><a href="#"> Help Center </a></li>
                                <li><a href="#"> Student support </a></li>
                                <li><a href="#"> Language Packs </a></li>
                                <li><a href="#"> Privacy policy </a></li>
                                <li><a href="#"> Become a Teacher </a></li>
                            </ul>*@
                    </div>
                    @*<div class="col-md-2">
                            <h5> Useful Links </h5>
                            <ul>
                                <li><a href="#"> Help Center </a></li>
                                <li><a href="#"> Student support </a></li>
                                <li><a href="#"> Language Packs </a></li>
                                <li><a href="#"> Privacy policy </a></li>
                                <li><a href="#"> Become a Teacher </a></li>
                            </ul>
                        </div>*@

                    <div class="col-md-5">
                        <h5> Escribenos </h5>
                        <div class="subscriber-form">
                            <form>

                                <div class="form-group">
                                    <input type="text" class="form-control" id="NombreContacto2" placeholder="Nombre">
                                </div>




                                <div class="form-group">
                                    <input type="number" class="form-control" id="NumeroContacto2" placeholder="Número de teléfono">
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" id="Email2" placeholder="Ingresa tu E-mail">
                                </div>
                                <input id="EnvioMsj2" name="submit" type="button" value="Enviar" class=" btn bussiness-btn-larg Envio">
                                @*<a href="#" class=" btn bussiness-btn-larg">Enviar</a>*@
                            </form>
                        </div>
                    </div>

                    <div class="container">
                        <div class="">
                            <div class="col-md-12 footer-info">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="footer-info-left">
                                            @*<p>Business Template by <a href="https://www.banyanthemes.com"> BanyanTheme </a></p>*@
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="footer-info-right">
                                            <ul>
                                                @*<li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                                    <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                                                    <li><a href="#"> <i class="fa fa-google"></i> </a></li>
                                                    <li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>*@
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="Scripts/bootstrap.min.js"></script>
    <!-- Wow Script -->
    <script src="Scripts/wow.min.js"></script>
    <!-- Counter Script -->
    <script src="Scripts/waypoints.min.js"></script>
    <script src="Scripts/jquery.counterup.min.js"></script>
    <!-- Masonry Portfolio Script -->
    <script src="Scripts/jquery.filterizr.min.js"></script>
    <script src="Scripts/filterizer-controls.js"></script>
    <!-- OWL Carousel js-->
    <script src="Scripts/owl.carousel.min.js"></script>
    <!-- Lightbox js -->
    <script src="inc/lightbox/js/jquery.fancybox.pack.js"></script>
    <script src="inc/lightbox/js/lightbox.js"></script>
    <!-- Google map js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCa6w23do1qZsmF1Xo3atuFzzMYadTuTu0"></script>
    <script src="Scripts/map.js"></script>
    <!-- loader js-->
    <script src="Scripts/fakeLoader.min.js"></script>
    <!-- Scroll bottom to top -->
    <script src="Scripts/scrolltopcontrol.js"></script>
    <!-- menu -->
    <script src="Scripts/bootstrap-4-navbar.js"></script>
    <!-- Stiky menu -->
    <script src="Scripts/jquery.sticky.js"></script>
    <!-- youtube popup video -->
    <script src="Scripts/jquery.magnific-popup.min.js"></script>
    <!-- Color switcher js -->
    <script src="Scripts/color-switcher.js"></script>
    <!-- Color-switcher-active -->
    <script src="Scripts/color-switcher-active.js"></script>
    <!-- Custom script -->
    <script src="Scripts/custom.js"></script>

    @section Scripts {
        <script type="text/javascript">

            $(function () {


                console.log("cargo")
                $("#EnvioMsj").click(function () {
                    console.log("estoy aqui")

                    if ($("#NombreContacto").val() == "" || $("#NumeroContacto").val() == "" || $("#Email").val() == "") {

                        alert("Debe Diligenciar los campos Nombre, Email, Número para el envió de mensajes");
                    }
                    else {
                        $.ajax({
                            type: "POST",
                            async: false,
                            url: "../Home/EnvioContacto",
                            dataType: "JSON",
                            data: { nombre: $("#NombreContacto").val(), numero: $("#NumeroContacto").val(), email: $("#Email").val() },
                            success: function () { alert("Mensaje enviado con éxito"); $("#NombreContacto").val(''); $("#NumeroContacto").val(''); $("#Email").val('') },
                            error: function () { alert("Error en envió de mensajes"); }
                        })
                    }
                });
            });
        </script>
    }

</body>
</html>
